python-usd-venv/
share/
bin/
lib/
libraries/
include/
cmake/
pip-packages/
plugin/
resources/
tests/
__pycache__/
*.pyc
python/
scripts/
PACKAGE-LICENSES/
README.usd-binaries.md
pxrConfig.cmake
requirements.txt
